body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFB6C1;
}

#content {
    width: 600px;
    margin: 30px auto;
    padding: 5px 20px;
    background: #FFFAF0;
    border: 1px solid #000000;
}

h1 {
	text-align: center;
}

p {
	color: #CD5C5C;
	font-weight: bold;
	text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 110px;
}

#futureValue {
    color: #000000;
}

br {
    clear: left;
}