body {
    font-family: Arial, Helvetica, sans-serif;
    background: green;
}

#content {
    width: 600px;
    margin: 10px auto;
    padding: 5px 20px;
    background: lightblue;
    border: 1px solid #000000;
    text-shadow: 3px 2px tomato;
}

h1 {
	text-align: center;
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: center;
}

p {
	color: black;
	font-weight: bold;
	text-align: center;
    font-size: 80%;
    font-variant: small-caps;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 100px;
}

#futureValue {
    color: #000000;
}

br {
    clear: left;
}